*.bak
*.suo
*.zip
*.csproj.user
.idea
bin
obj
coverage
fonts
node_modules
jspm_packages
packages
reports
directive1
directive2
*/build/templates.js
*/build/tests/
npm-debug.log
deploy/coms/
dist/deploy
.DS_Store
bower_components
app
*.tmp